{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_reservation</th>
                <th>Jour_Arr</th>
                <th>Nb_jours</th>
                <th>Jour_Dep</th>
                <th>ReservEtat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.numReservation }}</td>
                <td>{{ reservation.jourArr ? reservation.jourArr|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.nbJours }}</td>
                <td>{{ reservation.jourDep ? reservation.jourDep|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.reservEtat }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
